.details {
  display: flex;
}

.poster {
  margin: 20px 20px;

  & img {
    width: 350px;
  }
}

.title {
  font-size: 26px;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  margin-left: 20px;
  margin-top: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 20px 0px 0px 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.link {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;

  &:hover {
    color: steelblue;
  }
}
